body {
    background-color: #dcd8d8 !important;
}

.background-white {
    background-color: #FFFFFF !important;

    .nav-link {
        color: black !important;
        margin-left: 5px;
        margin-right: 5px;
        font-size: 14px;

        .icon {
            font-size: 20px;
        }

        .english {
            font-size: 20px;
        }

        .image-width {
            width: 50px !important;
        }

        .jhon-doe {
            font-size: 18px;
        }
    }
}

.static {
    .congrulation {
        font-size: 36px;
        font-family: sans-serif;
        color: #5E5873;
    }

    .won-gold-medal {
        font-size: 18px;
        font-family: sans-serif;
        font-weight: lighter;
        color: #a0a0a3;
    }

    .price {
        font-size: 30px;
        font-family: sans-serif;
        color: #7367F0;
    }

    .btn-color {
        background-color: #7367F0;
        font-size: 18px;
    }

    .badge-position {
        right: 40px;
    }

    .Statistics {
        font-size: 36px;
        color: #5E5873;
        letter-spacing: 2px;
    }

    @media (max-width:576px) {
        .Statistics {
            font-size: 28px;
            color: #5E5873;
            letter-spacing: 2px;
        }

        .update {
            font-size: 10px;
        }
    }

    .circle {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: #a0a0a3;
    }
    .circle-2 {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: #e0f9fc;
    }

    .circle-3 {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: #fceaea;
    }

    .circle-4 {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: #E5F8ED;
    }

    .icon {
        font-size: 24px;
        color: #7367F0;
    }

    .icon-2 {
        font-size: 24px;
        color: #62eaf9;
    }

    .icon-3 {
        font-size: 24px;
        color: #f9b6b6;
    }

    .icon-4 {
        font-size: 24px;
        color: #b0f8ce;
    }

    .statictics-price {
        font-size: 24px;
        line-height: 1;
    }

    .sales {
        font-size: 14px;
    }
}

.revnue-report {
    .order {
        font-size: 24px;
    }

    @media (max-width:576px) {
        .orders {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .profits {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .report-center {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .border-right {
            border-right: transparent !important;
        }
    }

    .revune-price {
        font-size: 36px;
    }
    @media (min-width:768px) and (max-width:900px) {
        .revune-price {
            font-size: 20px;
        }
    }
    @media (min-width:900px) and (max-width:1400px) {
        .revune-price {
            font-size: 20px;
        }
    }

    .revune {
        font-size: 36px;
    }

    @media (max-width:576px) {
        .revune {
            font-size: 18px;
            margin: 5px !important;
        }
    }
    @media (min-width:768px) and (max-width:900px) {
        .revune {
            font-size: 22px;
        }
        .circle-blue {
            height: 10px !important;
            width: 10px !important;
            border-radius: 50%;
            background-color: #7367F0;
        }

        .earning {
            font-size: 12px;
            margin-left: 5px !important;
        }
        .circle-yellow {
            height: 10px !important;
            width: 10px !important;
            border-radius: 50%;
            background-color: #FF9F43;
        }

        .expense {
            font-size: 10px;
        }
        .drp-down-price{
            font-size: 30px !important;
        }
    }

    .circle-blue {
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: #7367F0;
    }

    @media (max-width:576px) {
        .circle-blue {
            height: 10px;
            width: 10px;
            border-radius: 50%;
            background-color: #7367F0;
        }

        .earning {
            font-size: 12px;
            margin-left: 5px !important;
        }
    }

    .circle-yellow {
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: #FF9F43;
    }

    @media (max-width:576px) {
        .circle-yellow {
            height: 10px;
            width: 10px;
            border-radius: 50%;
            background-color: #FF9F43;
        }

        .expense {
            font-size: 10px;
        }
    }

    .border-right {
        border-right: 1px solid rgb(179, 176, 176);
    }

    .drp-down-price {
        font-size: 40px;
        font-weight: bold;
    }

    .budget {
        font-weight: bold;
        font-size: 20px;
    }

    .price-2 {
        font-size: 17px;
    }
    .btn-color{
        background-color: #7367F0;
    }
    @media (min-width:768px) and (max-width:900px) {
        .btn-color{
           padding-left: 5px !important;
           padding-right: 5px !important;
        }
    }
}

.custom-table{
    .image-height{
        height: 30px;
    }
}