body {
  background-color: #dcd8d8 !important;
}

.background-white {
  background-color: #FFFFFF !important;
}
.background-white .nav-link {
  color: black !important;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 14px;
}
.background-white .nav-link .icon {
  font-size: 20px;
}
.background-white .nav-link .english {
  font-size: 20px;
}
.background-white .nav-link .image-width {
  width: 50px !important;
}
.background-white .nav-link .jhon-doe {
  font-size: 18px;
}

.static .congrulation {
  font-size: 36px;
  font-family: sans-serif;
  color: #5E5873;
}
.static .won-gold-medal {
  font-size: 18px;
  font-family: sans-serif;
  font-weight: lighter;
  color: #a0a0a3;
}
.static .price {
  font-size: 30px;
  font-family: sans-serif;
  color: #7367F0;
}
.static .btn-color {
  background-color: #7367F0;
  font-size: 18px;
}
.static .badge-position {
  right: 40px;
}
.static .Statistics {
  font-size: 36px;
  color: #5E5873;
  letter-spacing: 2px;
}
@media (max-width: 576px) {
  .static .Statistics {
    font-size: 28px;
    color: #5E5873;
    letter-spacing: 2px;
  }
  .static .update {
    font-size: 10px;
  }
}
.static .circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #a0a0a3;
}
.static .circle-2 {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #e0f9fc;
}
.static .circle-3 {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fceaea;
}
.static .circle-4 {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #E5F8ED;
}
.static .icon {
  font-size: 24px;
  color: #7367F0;
}
.static .icon-2 {
  font-size: 24px;
  color: #62eaf9;
}
.static .icon-3 {
  font-size: 24px;
  color: #f9b6b6;
}
.static .icon-4 {
  font-size: 24px;
  color: #b0f8ce;
}
.static .statictics-price {
  font-size: 24px;
  line-height: 1;
}
.static .sales {
  font-size: 14px;
}

.revnue-report .order {
  font-size: 24px;
}
@media (max-width: 576px) {
  .revnue-report .orders {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .revnue-report .profits {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .revnue-report .report-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .revnue-report .border-right {
    border-right: transparent !important;
  }
}
.revnue-report .revune-price {
  font-size: 36px;
}
@media (min-width: 768px) and (max-width: 900px) {
  .revnue-report .revune-price {
    font-size: 20px;
  }
}
@media (min-width: 900px) and (max-width: 1400px) {
  .revnue-report .revune-price {
    font-size: 20px;
  }
}
.revnue-report .revune {
  font-size: 36px;
}
@media (max-width: 576px) {
  .revnue-report .revune {
    font-size: 18px;
    margin: 5px !important;
  }
}
@media (min-width: 768px) and (max-width: 900px) {
  .revnue-report .revune {
    font-size: 22px;
  }
  .revnue-report .circle-blue {
    height: 10px !important;
    width: 10px !important;
    border-radius: 50%;
    background-color: #7367F0;
  }
  .revnue-report .earning {
    font-size: 12px;
    margin-left: 5px !important;
  }
  .revnue-report .circle-yellow {
    height: 10px !important;
    width: 10px !important;
    border-radius: 50%;
    background-color: #FF9F43;
  }
  .revnue-report .expense {
    font-size: 10px;
  }
  .revnue-report .drp-down-price {
    font-size: 30px !important;
  }
}
.revnue-report .circle-blue {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #7367F0;
}
@media (max-width: 576px) {
  .revnue-report .circle-blue {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #7367F0;
  }
  .revnue-report .earning {
    font-size: 12px;
    margin-left: 5px !important;
  }
}
.revnue-report .circle-yellow {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #FF9F43;
}
@media (max-width: 576px) {
  .revnue-report .circle-yellow {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #FF9F43;
  }
  .revnue-report .expense {
    font-size: 10px;
  }
}
.revnue-report .border-right {
  border-right: 1px solid rgb(179, 176, 176);
}
.revnue-report .drp-down-price {
  font-size: 40px;
  font-weight: bold;
}
.revnue-report .budget {
  font-weight: bold;
  font-size: 20px;
}
.revnue-report .price-2 {
  font-size: 17px;
}
.revnue-report .btn-color {
  background-color: #7367F0;
}
@media (min-width: 768px) and (max-width: 900px) {
  .revnue-report .btn-color {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
}

.custom-table .image-height {
  height: 30px;
}/*# sourceMappingURL=index.css.map */